<html>

<head>
  <meta charset="UTF-8">
  <title>Lavalon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="./style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  <input placeholder="Enter search query or URL..." onkeypress="lookupTrack(event)" class="searchBar" type="text"
    name="url" id="urlBox">

  <div class="songList" id="trackList"></div>

  <div class="dock">
    <div class="seekcontainer" onclick="seekTo(event)">
      <div class="seekbar" id="seekbar">
      </div>
    </div>

    <div class="playing-status">
      <h2 class="nowplaying">Now Playing</h2>
      <span class="tracktitle" id="tracktitle">Nothing</span>
    </div>

    <div class="playback-controls">
      <button class="material-icons" onclick="playPrev()">skip_previous</button>
      <button class="material-icons" onclick="playPause()">play_arrow</button>
      <button class="material-icons" onclick="playNext()">skip_next</button>
    </div>

    <div class="volume">
      <span class="material-icons">volume_mute</span>
      <input type="range" min="0" max="100" value="100" oninput="setVolume(this.value)">
    </div>
  </div>
  <!--<input class="volume" type="range" min="0" max="25" value="0" oninput="setBass(this.value)"> equalizer shit, todo button-->

  <script src="./script.js"></script>
</body>

</html>